*{
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}
/* Home Page */
#navbar{
    float: right;
    list-style: none;
    padding: 5px;
}
#navbar li{
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#my-name{
    font-size: 3vh;
    float: left;
    font-weight: 800;
    border: 4px solid black;
    padding: 3px;
    box-shadow: 5px 5px #C6B9CD, 9px 9px #721817;
}
#my-name:hover{
    box-shadow: 0px 0px #C6B9CD, 0px 0px #721817;
    transition: 0.5s;
}
header{
    padding: 5px;
    height: 8.5vh;
}
#navbar a{
    text-decoration: none;
}
#navbar:hover, #navbar a:hover{
    background-color: black;
    color: white;
    transition: 0.3s;
}
header > *:hover{
    cursor: pointer;
}
#home-page-left{
    transform: translateY(10vh);
    float: left;
    text-align: center;
}
#intro{
    font-size: xx-large;
    font-weight: 500;
}
#outro{
    font-size: larger;
    font-weight: 500;;
}
#left-bottom{
    transform: translateY(15vh);
}
#github{
    background-color: #688E26;
}
#linkedin{
    background-color: #348cd4;
}
#my-face{
    float: right;
    transform: translate(-5vw, 10vh);
    width: 30%;
    height: 40vh;
    margin-left: 3vw;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
} 
#home-page{
    
    overflow-x: hidden;
    height: 100vh;
    width: 90vw;
    margin: 20px 80px; 
}
/* About Page */
#about-page{
    
    overflow-x: hidden;
    height: 100vh;
    width: 90vw;
    margin: 20px 80px; 
}
#about-page h1{
    font-size: 4vh;
}
#about-page h2{
    font-size:3vh;
}
#about-page #class-year{
    color: #18a0e9;
}

#about-page #class-title{
    float: right;
}
#ucsd-pic{
    height: 60vh;
    float:left;
    padding: 30px;
    margin-left: 10px;
}
#ucsd-pic:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.3s;
    margin-left: 10px;
    cursor: pointer;
}
.gallery {
    background: white;
    border: 1px solid white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    float: right;
    margin-right: 10px;
    width: 50%;
    height: 50%;
}
.gallery-cell {
    padding: 20px 50px;
    width: 100%;
    margin-right: 10px; 
}
/* cell number */
.gallery-cell:before {
    display: block;
    text-align: center;
    line-height: 200px;
    font-size: 80px;
    color: white;
}
.cell-title{
    font-weight:700;
}
.cell-text{
    font-size: 2.5vh;
}
/* Resume */
#resume-page{
    
    overflow-x: hidden;
    height: 100vh;
    width: 90vw;
    margin: 20px 80px; 
}
#experience{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-left: 10px;
    padding: 10px 20px;
    height: 80vh;
    width: 40vw;
    float: left;
}
#experience h3{
    text-align: center;
}
#experience .job-title{
    font-size: 2vh;
}
.job-title li{
    font-size: 1.7vh;
    font-weight:500;
}
#resume-right{
    margin-right: 10px;
    float: right;
}
#resume-right div{
    width: 40vw;
    height: 30vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px 20px;
}
#resume-right div h3{
    text-align: center;
}
#softwares{
    transform: translateY(10vh);
}
#resume-right ul{
    font-size: 3vh;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 50% 50%;
}

/* Projects Page */
#projects-page{
    overflow-y: hidden;
    overflow-x: hidden;
    height: 100vh;
    width: 90vw;
    margin: 20px 80px; 
}
.project-box{
    width: 70vw;
    height: 25vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 0 auto;
    margin-bottom: 5vh;
    
    display: grid;
    grid-template-columns: 40% 60%;
}
.project-box:hover{
    box-shadow: rgba(0, 0, 0, 0.85) 0px 5px 15px;
    transition: 0.3s;
    cursor: pointer;
}
#recipe-project{
    background-color: #E76F51;
}
#research-project{
    background-color: #C2C094;
}
#website-project{
    background-color: #B8BAC8;
}
#website-project img{
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 9vw;
}
#recipe-project img, #research-project img{
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 20vw;
    height: 10vh;
}
.project-text{
    margin-right: 20px;
    font-size: 2.3vh;
    color: white;
}
/* Misc page */
#misc-page{
    height: 100vh;
    width: 90vw;
    margin: 20px 80px; 
}
#misc-page h1{
    text-align: center;
    padding-top: 40vh;
}
