*{
    font-family: 'Open Sans', sans-serif;
    margin: 10px 40px;
}
/* Home Page */
#navbar{
    float: right;
    list-style: none;
    padding: 5px;
}
#navbar li{
    display: inline-block;
}
#my-name{
    font-size: 3vh;
    float: left;
    font-weight: 800;
    border: 4px solid black;
    padding: 3px;
    box-shadow: 5px 5px #C6B9CD, 9px 9px #721817;
}
#my-name:hover{
    box-shadow: 0px 0px #C6B9CD, 0px 0px #721817;
    transition: 0.5s;
}

header{
    padding: 5px;
    height: 8.5vh;
}
#navbar:hover{
    background-color: black;
    color: white;
    transition: 0.3s;
    
}
header > *:hover{
    cursor: pointer;
}
#home-page-left{
    transform: translateY(10vh);
    float: left;
    text-align: center;
}
#intro{
    font-size: xx-large;
    font-weight: 500;
}
#outro{
    font-size: larger;
    font-weight: 500;;
}
#left-bottom{
    transform: translateY(15vh);
}
#github{
    background-color: #688E26;
}
#linkedin{
    background-color: #348cd4;
}
#my-face{
    float: right;
    transform: translate(-10vw, 10vh);
    border-radius: 50%;
    width: 30%;
    height: 40vh
}

